.login {
  border: 2px solid gray;
  border-radius: 10px;
  background-color: lightblue;
  height: 20px;
  width: 50px;
  margin-left: auto;
  text-align: center;
}

.container {
  text-align: center;
  margin-top: 200px;
  height: 100px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-size: 100px;
  margin-bottom: 20px;
  color: lightgreen;
}

input[type=text] {
    width: 90%;
    border-radius: 5px;
    border: 5px solid gray;
}

.flex-container {
  display: flex;
}

.box {
  border: 2px solid black;
  border-radius: 5px;
  margin: 30px 20px 20px 20px;
  background-color: lightgray;
  border-radius: 5px;
}

.country {
  background-color: lightgray;
  padding: 5px 0px;
  position: absolute;
  width: 100%;
  bottom: 0px;
}
