.login {
  height: 20px;
  width: 50px;
  margin-left: auto;
  text-align: center;
}

.container {
  text-align: center;
  margin-top: 200px;
  height: 100px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-size: 100px;
  margin-bottom: 20px;
  color: lightgreen;
}

input[type=text] {
    width: 90%;
    border-radius: 5px;
    border: 5px solid gray;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.country {
  background-color: lightgray;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  bottom: 0;
  position: fixed;
}
